@use "vars" as *;


.mv-video{
	video{
		width: 100%;
	}
}

.sec-content{
	margin: vw(-325) 0 0;
	padding-bottom: vw(100);
	@include mq(){
		padding-bottom: 0;
	}
	&:before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: url("../img/bg.png")no-repeat;
		background-size: 100% ;
		background-position: top center;
	}
}

.content-nav{
	position: relative;
	width: vw(1353);
	height: vw(300);
	margin: 0 auto;
	background: url("../img/bg-nav.png")no-repeat;
	background-size: 100%;
	@include smooth-transition;
	@include mq(){
		width: 100%;
		height: vwsp(100);
		background: url("../img/bg-nav-sp.png")no-repeat;
		background-size: 100%;
	}
	&:hover{
		@include mq(md-min){
			background: url("../img/bg-nav-hv.png")no-repeat;
			background-size: 100%;
		}
	}
	&__menu{
		@include flex(center,center,0);
		position: absolute;
		top: vw(140);
		left: 0;
		right: 0;
		@include mq(){
			top: vwsp(14);
		}
		&-item{
			width: vw(233);
			height: vw(71);
			@include mq(){
				width: 20%;
				height: vwsp(68);
			}
			a{
				display: block;
				height: 100%;
			}
			&:nth-child(1){
				margin-right: vw(-25);
				@include mq(){
					margin-right: vwsp(-17);
				}
			}
			&:nth-child(3){
				width: vw(386);
				height: vw(78);
				margin: 0 vw(-29);
				position: relative;
				z-index: 2;
				@include mq(){
					width: vwsp(219);
					height: vwsp(73);
					margin: 0 vwsp(-18);
				}
			}
			&:last-child{
				margin-left: vw(-25);
				@include mq(){
					margin-left: vwsp(-17);
					width: 18.5%;
				}
			}
		}
	}
}

.content-show{
	width: 100%;
	margin: 0 auto;
	border: 1px solid #b0644d;
	background: #852536;
	padding: 13px;
	position: relative;
	@include mq(md-min){
		max-width: vw(1167);
	}
	@include mq(){
		padding: vwsp(13) 0;
		border-left: none;
		border-right: none;
	}
	&:before,&:after{
		content: "";
		height: vw(10);
		background: url("../img/bf.png")no-repeat;
		background-size: 100%;
		position: absolute;
		left: vw(-7);
		right: vw(-7);
	}
	&:before{
		top: -1px;
	}
	&:after{
		bottom: -1px;
	}
	&__block{
		background: #ede7cd;
		position: relative;
		padding: vw(100) vw(40);
		font-size: vw(18);
		line-height: 1.8;
		@include mq(){
			padding: vwsp(70) vwsp(30) vwsp(50);
			margin: 0 vwsp(-5);
			font-size: vwsp(28);
		}
		&:before{
			content: "";
			width: vw(42);
			height: vw(26);
			background: url("../img/bf-02.png")no-repeat;
			background-size: 100%;
			position: absolute;
			top: vw(-6);
			left: 0;
			right: 0;
			margin: 0 auto;
			z-index: 1;
		}
		&:after{
			content: "";
			position: absolute;
			top: vw(6);
			left: vw(6);
			right: vw(6);
			bottom: vw(6);
			border: 1px solid #dbab4d;
		}
		&-custom{
			position: relative;
			z-index: 2;
		}
		.c-btn__back{
			position: absolute;
			top: vw(40);
			left: vw(40);
			z-index: 3;
		}
		&-ttl{
			display: block;
			text-align: center;
			margin-bottom: vw(40);
			position: relative;
			img{
				width: vw(449);
				display: block;
				margin: 0 auto;
				position: relative;
				z-index: 1;
				@include mq(){
					width: vwsp(449);
				}
			}
			span{
				display: block;
				position: absolute;
				top: vw(-28);
				left: 0;
				right: 0;
				font-size: vw(65);
				line-height: 1;
				font-weight: bold;
				color: rgba(#a0622b,0.45);
				@include mq(){
					top: vwsp(-28);
					font-size: vwsp(65);
				}
				&:before{
					content: "";
					position: absolute;
					bottom: 0;
					top: 0;
					left: 0;
					right: 0;
					background: linear-gradient(180deg, rgba(0, 0, 0, 0.0) 0%, #ede7cd 100%);
				}
			}
		}

	}
	&__article{
		&-heading{
			font-style: italic;
			font-weight: bold;
			color: #5e6464;
			p{
				padding: 0 !important;
			}
		}
		h3{
			display: block;
			position: relative;
			font-weight: bold;
			font-size: vw(25);
			color: #559677;
			padding: 0 0 0 vw(70);
			margin-bottom: vw(40);
			@include mq(){
				font-size: vwsp(30);
				padding: 0 0 0 vwsp(70);
				margin-bottom: vwsp(40);
			}
			&:before{
				content: "";
				width: vw(54);
				height: vw(56);
				background: url("../img/icon-ttl.png")no-repeat;
				background-size: 100%;
				position: absolute;
				@include v-align;
				left: 0;
				@include mq(){
					width: vwsp(54);
					height: vwsp(56);
				}
			}
		}
		h4{
			display: block;
			position: relative;
			font-size: vw(22);
			font-weight: bold;
			color: #5e6464;
			padding: 0 0 0 vw(80);
			margin-bottom: vw(25);
			@include mq(){
				font-size: vwsp(30);
				padding: 0 0 0 vwsp(80);
				margin-bottom: vwsp(25);
			}
			&:before{
				content: "";
				width: vw(37);
				height: vw(43);
				background: url("../img/icon-ttl-02.png")no-repeat;
				background-size: 100%;
				position: absolute;
				@include v-align;
				left: vw(25);
				@include mq(){
					width: vwsp(37);
					height: vwsp(43);
					left: vwsp(25);
				}
			}
		}
		ul{
			padding: 0 0 0 vw(80);
			margin-bottom: vw(50);
			@include mq(){
				padding: 0 0 0 9vw;
				margin-bottom: vwsp(50);

			}
			li{
				position: relative;
				padding: 0 0 0 vw(20);
				@include mq(){
					padding: 0 0 0 vwsp(20);
					margin-bottom: vwsp(40);
				}
				&:before{
					content: "";
					width: vw(11);
					height: vw(11);
					background: url("../img/dos-03.png")no-repeat;
					background-size: 100%;
					position: absolute;
					top: vw(8);
					left: 0;
					@include mq(){
						width: vwsp(11);
						height: vwsp(11);
						top: 2vw;
					}
				}
			}
		}
		p{
			padding: 0 0 0 vw(100);
			margin-bottom: vw(40);
			@include mq(){
				padding: 0 0 0 12vw;
				margin-bottom: vwsp(50);
			}
		}
	}
}